body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
    transition: font-size 0.3s ease;
}

h1,
p,
span,
div {
    font-size: inherit;
}

.fs-18 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

/* @media (max-width: 768px) {
    body {
        font-size: 1.5rem; 
    }
}

@media (max-width: 480px) {
    body {
        font-size: 1rem; 
    }
} */

.px-375 {
    padding-inline: 375px;
}

.navbar-container {
    padding-inline: 23.4375rem;
    background-color: #C9E5FD;
}

.navbar-logo {
    max-height: 7rem;
    width: 21rem;
}

.navbar-logo {
    max-height: 7rem;
    width: 21rem;
}

@media (max-width: 768px) {
    .navbar-logo {
        max-height: 5rem;
        width: 10rem;
    }
}

@media (max-width: 480px) {
    .navbar-logo {
        max-height: 4rem;
        width: 9rem;
    }
}


.navbar-icons {
    display: flex;
    align-items: center;
}

/* Icon styles */
.icon-wrapper {
    background-color: #004684;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper .icon-image{
    height: 1rem;
    width: 1rem;
}





/* Search bar styles */
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3.125rem;
    padding: 0.313rem 0.625rem;
    background-color: #f9f9f9;
}

.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    background: transparent;
    padding-left: 0.625rem;
}

.search-button {
    background-color: #004085;
    border: none;
    color: white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Navbar custom styles */
.navbar-custom {
    background-color: #e6f3ff;

}

.navbar-custom .nav-link {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-custom .dropdown-menu {
    background-color: #e6f3ff;
}

.navbar-custom .btn-contact {
    background-color: #004085;
    color: white;
    font-weight: 500;
    border-radius: 0;
    margin: 0%;
    min-height: 3.5rem;
    min-width: 10rem;
    border: none;

}

.navbar-custom .btn-contact:hover {
    background-color: #002a5e;
}

/* Mobile view adjustments */
.navbar-mobile-icons {
    display: flex;
    gap: 0.625rem;
}

.navbar-toggler-icon {
    background-color: #004684;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggle-icon-lines {
    display: block;
    height: 2px;
    width: 1.125rem;
    background-color: white;
    margin: 3px 0;
}

.custom-card {
    background-color: #004085;
    /* Dark blue background */
    color: white;
    padding: 1.25rem;
    padding-top: 1.875rem;
    padding-bottom: 0.938rem;
    /* border-radius: 0.625rem; */
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* min-width: 252px; */
    width: 100%;
}

.home-cards-list {
    scrollbar-width: none;
}

.cards-listing {
    transform: translateY(-180px);
}

.custom-card h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.carousel-item img {
    height: 833px;
    /* Adjust this value as needed */
    object-fit: cover;
    width: 100%;
}

.custom-card hr {
    border: 0;
    border-top: 2px solid white;
    /* border-bottom: 2px solid white; */
    width: 70px;
    margin: 0;
    margin-bottom: 15px;
}

.custom-card p {
    margin-bottom: 1.25rem;
    /* font-size: 14px; */
    line-height: 1.75rem;

}

.custom-card .arrow {
    position: absolute;
    bottom: 0.625rem;
    right: 2.5rem;
    font-size: 1.125rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.arrow {
    right: 2rem;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: translateX(10px);
}

.read-more:hover .arrow {
    transform: translateX(10px);
}

.custom-card .arrow:hover {
    color: #e6f3ff;
    /* Lighter blue on hover */
}

.white-bar {
    height: 6.0625rem;
    /* 97px */
    width: 0.75rem;
    /* 12px */
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1.25rem;
    /* 20px */
}

.members-section {
    padding: 2.5rem 23.4375rem;
    /* 40px 375px */
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.members-section h3 {
    font-size: 0.8rem;
    color: #6F6F6F;
    margin-bottom: 1.25rem;
    /* 20px */
    font-weight: 700;
}

.read-aloud {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    /* 10px */
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    margin-bottom: 1.875rem;
}

.read-aloud button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: #6c757d;
}

.logo-wrapper {
    display: flex;
    /* justify-content: center; */
    gap: 1.25rem;
    /* flex-wrap: wrap; */
    margin-bottom: 1.875rem;
    overflow-x: scroll;
    scrollbar-width: none;

}

@media (min-width:1280px) and (max-width: 1645px) {
    .logo-wrapper {
        justify-content: center;
    }
}

.logo-wrapper .logo {
    border: 1px solid #CFCFCF;
    border-radius: 0.313rem;
    padding: 0.625rem;
    /* width: 15px; */
    min-width: 9.375rem !important;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-members-btn {
    background-color: #004684;
    color: white;
    border: none;
    padding: 1.125rem 1.875rem;
    border-radius: 3.125rem;
    font-weight: 600;
    font-size: .75rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 3.125rem;

}

.view-members-btn:hover {
    background-color: #003366;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.carousel-caption h1 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.7);
    /* width: 80%; */
    /* margin: 0 auto; */
}

.carousel-caption .btn {
    margin-top: 0.9375rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border-radius: 3.125rem;
    background-color: white;
    color: #004684;
    width: 12.5rem;
    height: 3.625rem;
    font-weight: 600;
}

.carousel-caption .btn:hover {
    background-color: #004684;
    color: white;
}

.home-carousel-prev,
.home-carousel-next {
    background-color: white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-indicators [data-bs-target] {
    background-color: white;
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
}

.carousel-indicators {
    bottom: 12.5rem;
}

.volume-icon {
    width: 10rem;
    position: absolute;
    top: -0.9375rem;
    right: 0;
}


.form-label {
    color: #6f6f6f;
    font-weight: 600;
}

.form-control {
    border-radius: 0.375rem;
}

.form-submit {
    background-color: #004684;
    color: white;
    font-weight: 600;
    border-radius: 0.375rem;
    padding: 0.75rem 2.5rem;
    border: none;
}

.form-submit:hover {
    background-color: #003366;
}


/* Department styles  */
.dept-select {
    margin-left: 0.625rem;
    background-color: rgba(255, 255, 255, 0.23);
    color: rgba(255, 255, 255, 0.4);
    border: 0.0625rem solid rgba(255, 255, 255, 0.23);
    padding: 0.5rem 1rem;
    width: 29.75rem;
    height: 2.75rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    cursor: pointer;
    appearance: none;
    background-image: url('./assets/select-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    transition: all 0.2s ease-in-out;
}

/*Department styles end here */




@media screen and (max-width: 1645px) {
    .px-375 {
        padding-inline: 1.875rem !important;
    }

    .carousel-caption h1 {
        font-size: 3rem;
    }

    .carousel-caption .btn {
        width: 9.375rem;
        height: 3rem;
    }

    .carousel-indicators {
        bottom: 1.25rem;
    }

    .members-section {
        padding: 2.5rem 1.25rem;
    }

    .carousel-indicators {
        bottom: 15rem;
    }

}

@media screen and (max-width: 768px) {
    .px-375 {
        padding-inline: 1.25rem !important;
    }

    .carousel-indicators {
        bottom: 3.57rem;
    }

    .cards-listing {
        transform: translateY(-50px);
    }

    .carousel-caption {
        padding-bottom: 0;
    }

    .cards-lees-voor {
        /* transform: translateY(20px); */
        z-index: 10;
        position: absolute;
    }

    .carousel-caption h1 {
        font-size: 2rem;
    }


}


/* For small screens */
@media (max-width: 600px) {
    .volume-icon {
        position: absolute;
        top: -3.75rem;
        left: 0;
        right: auto;

    }
}

/*Media Query For contact banner*/
@media (max-width: 768px) {
    .contact-banner {
        padding-top: 36px !important;
        padding-bottom: 1.875rem !important;
    }

    .contact-banner .d-flex {
        justify-content: flex-start !important;
        /* Align flex items to the left */
        text-align: left;
        /* Align text to the left */
    }

    .contact-banner .fw-bold {
        text-align: left !important;
        /* Align the bold text to the left */
    }

    .contact-banner .text-white {
        text-align: left !important;
        /* Align the paragraph text to the left */
    }

    .contact-banner .btn {
        text-align: left !important;
        /* Align button text to the left */
        margin-left: 0;
        /* Remove any unnecessary margin */
    }

    .contact-banner .d-flex.flex-column {
        align-items: flex-start !important;
        /* Align items to the left in the flex column */
    }

    .contact-banner .d-flex img {
        margin-left: 0 !important;
        /* Keeps image aligned to the right on small screens */
        margin-right: auto !important;
        /* Remove any margin-right that could shift it */
    }
}

.carousel-img {
    height: 80vh;
    /* Default height */
    object-fit: cover;
    /* Maintain aspect ratio while covering */
}



@media (max-width: 768px) {
    .carousel-img {
        height: 75vh !important;
        /* Reduce height on smaller screens */
    }

    .carousel-caption {
        top: 50%;
        /* Keep text centered vertically */
        left: 50%;
        /* Keep text centered horizontally */
        transform: translate(-50%, -50%);
    }

    #customCarousel h1 {
        font-size: 1.5rem;
        /* Adjust font size for smaller screens */
    }

    #customCarousel .btn {
        font-size: 1rem;
        /* Adjust button size */
        padding: 0.5rem 1rem;
    }

}


.cursor-pointer {
    cursor: pointer;
}

.active-font {
    text-decoration: underline;
}

.font-size-150 {
    font-size: 1.5rem;
}

.font-size-100 {
    font-size: 1rem;
}

.font-size-200 {
    font-size: 2rem;
}




/* mega menu styles   */

.mega-menu .dropdown-menu {
    width: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
    background-color: white;
    border: none;
    margin: 0
}

.mega-menu .dropdown-menu .row {
    margin: 0;
}

.mega-menu .dropdown-menu h6 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.mega-menu .dropdown-menu .list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mega-menu .dropdown-menu .dropdown-item {
    padding: 0.438rem 0rem;
    display: block;
    color: #000;
    text-decoration: none;
}

.mega-menu .dropdown-menu .dropdown-item:hover {
    color: #004684;
}

.mega-menu-about {
    border-right: 1px solid #AEAEAE;
    padding-bottom: 3.875rem;
}

@media screen and (max-width:768px) {
    .mega-menu-about {
        border-right: none;
        border-bottom: 1px solid #AEAEAE;
    }
}

/* mega menu styles end here  */